
.input-dark-placeholder::placeholder {
    color: #5116b5; 
    opacity: 1; /* Firefox */
  }
  
  .input-dark-placeholder:-ms-input-placeholder {
    color: #5116b5; /* Internet Explorer 10-11 */
  }
  
  .input-dark-placeholder::-ms-input-placeholder {
    color: #5116b5; /* Microsoft Edge */
  }
  