.input-dark-placeholder::placeholder {
    color: #c4b5fd; 
    opacity: 1; /* Firefox */
  }
  
  .input-dark-placeholder:-ms-input-placeholder {
    color: #c4b5fd; /* Internet Explorer 10-11 */
  }
  
  .input-dark-placeholder::-ms-input-placeholder {
    color: #c4b5fd; /* Microsoft Edge */
  }
  
.gender-options {
  display: flex;
  gap: 8px;
}

.gender-option {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

.gender-option input {
  margin-right: 5px;
}

.gender-option span {
  color: white;
}
  