.house-position-table {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.house-column {
  width: 32%; /* Adjust as needed */
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.8em;
  border: 1px solid #ddd;
  padding: 5px;
}

.house-column td {
  padding: 2px;
  text-align: left;
  border: none;
  white-space: nowrap;
}

.house-column td:first-child {
  text-align: right;
  padding-right: 5px;
}

.house-column td:last-child {
  text-align: right;
}

.symbol-img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 2px;
}