.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.response-container {
  height: 300px; /* Adjust the height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
  border: 1px solid #ccc; /* Optional: adds a border around the container */
  padding: 10px; /* Optional: adds some spacing inside the container */
  margin-top: 20px; /* Optional: adds some space above the container */
  font-size: small;
  background-color: transparent;
}

/* App.css */

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

input[type="submit"] {
  height: fit-content;
  align-self: flex-end;
}

/* Additional styling to ensure the form elements are connected */
form {
  background-color: #f2f2f2; /* Light gray background, adjust as needed */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
}


.generate-prompts-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.generate-prompts-btn:hover {
  background-color: #45a049;
}

.generate-prompts-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


/* Styling for the container that holds all PromptComponents */
.prompt-container {
  max-width: 800px; /* Adjust the width as necessary */
  margin: auto; /* Center the container */
  border: 1px solid #ccc; /* Optional border */
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Ensures the border encapsulates the tabs and content */
}

.tab-menu {
  display: flex;
  justify-content: space-evenly; /* Evenly distribute the space among tabs */
  /* background-color: #f1f1f1; Background color for the tab menu */
  border-bottom: 1px solid #ccc; /* Border to separate tabs from content */
}

.tab-menu button {
  padding: 10px 20px;
  border: none;
  background-color: inherit; /* Inherits from tab-menu */
  cursor: pointer;
  outline: none; /* Removes the default focus outline */
}

.tab-menu button:hover {
  background-color: #e0e0e0; /* Hover effect */
}

.tab-menu button.active {
  /* background-color: #ddd; Active tab color */
  background-color: #0d1691;

  font-weight: bold; /* Optional: Makes active tab text bold */
}

.heading {
  color:#61dafb;
}
.redo-button {
  background-color: blue; /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  padding: 10px 20px; /* Adds some padding for better visual */
  border: none; /* Removes the border */
  border-radius: 5px; /* Adds rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.tab-content {
  padding: 20px;
  /* background-color: #fff;  */
  background-color: transparent;
  
}


/* Styling for individual PromptComponent */
.prompt-component {
  border: 1px solid #ccc; /* Optional: Adds a border */
  border-radius: 5px; /* Optional: Rounds the corners */
  padding: 10px; /* Adds padding inside each component */
  height: 250px; /* Fixed height */
  overflow-y: auto; /* Makes it scrollable */
  text-align: left; /* Aligns text to the left */
  font-size: small;
}

.tab-menu, .planet-menu {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  /* background-color: #f1f1f1; */
  border-bottom: 1px solid #ccc;
}

.tab-menu button, .planet-menu button {
  padding: 10px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.tab-button.active, .planet-button.active {
  background-color: #0d1691;
  font-weight: bold;
}

.button-white-text {
  color: rgb(151, 138, 138); /* Sets the font color to white */
}

.tab-content {
  padding: 20px;
  /* background-color: #fff; */
  background-color: transparent;
}

.planet-component {
  margin: 0 auto;
  padding: 10px;
  max-width: 100%; /* Ensures the component does not exceed the width of the parent */
}

.planet-response pre {
  white-space: pre-wrap; /* Wraps the text */
  word-wrap: break-word; /* Breaks long words */
  text-align: left;
  overflow-wrap: break-word; /* Ensures text breaks in a way that prevents overflow */
  max-width: 100%; /* Restrict width to the parent container */
  overflow-x: auto; /* Adds a scrollbar if content overflows horizontally */
  font-size: small;
  color: whitesmoke;

}

.prompts {
  text-align: left;
  font-size: x-small;
  color:#61dafb;
}


/* LANDING PAGE CSS ENDS*/

body {
  background: url("/public/NebulaeBG.png") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  margin: 0 auto;
  /* overflow: hidden; */
}

.simple-form-container {
  background: transparent;
}

.container {
  /* background-color: red; */
  width: 1024px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 200px;
  padding-left: 25px;
}

.maintxt {
  color: white;
  text-transform: uppercase;
}
.logotxt {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 25px;
  text-shadow: 0 0 9px rgba(255, 255, 255);
  margin-bottom: 25px;
}

.logosubtxt {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5px;
}

.soon {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 15px;
}

.lightlogo {
  mix-blend-mode: screen;
}

.mont-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

/* .email_form {
  color: white;
  margin-top: 20px;
} */

.email_form h2 {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin-bottom: 30px;
  background-color: transparent;
}

.email_form span {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  padding: 0 5px;
  font-size: 16px;
}

/* SimpleForm.css */
.email_form {
  background-color: transparent; /* Ensure no background color */
  border: none; /* Remove any borders */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.email_form form {
  background-color: transparent; /* Ensure form has no background color */
  border: none; /* Remove form borders */
  padding: 0; /* Remove form padding */
  margin: 0; /* Remove form margin */
}


.email-submit-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 50px;
  color: white;
  background: #b750f3;
  font-size: 15px;
  display: block;
  width: 120px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  margin: 40px auto;
  transition: 0.2s;
}

.submit-btn:hover {
  box-shadow: 0px 0px 25px #c768fd;
}
.submit-btn:active {
  box-shadow: 0px 0px 2px #c768fd;
  transform: scale(0.95);
}

input {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  outline: 0;
  font-size: 16px;
  color: white;
  width: 300px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}





.user-table-container {
  margin-bottom: 20px;
}

.user-table-scroll {
  max-height: 200px;
  overflow-y: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.user-table tr.selected {
  background-color: #e0e0e0;
}

/* SimpleForm.css */
.horoscope-container {
  background-color: transparent; /* Ensure no background color */
  border: none; /* Remove any borders */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}


.birth-chart-summary {
  color: white;
}

.summary-list {
  list-style-type: none;
  padding-left: 0;
}

.summary-item {
  margin-bottom: 8px;
}

/* Planets motion Styles */

.planet-cont{
  position: absolute;
  z-index: -10;
  top: 330px;
  opacity: .7;
}

.sun{
  position:absolute;
  top: 50%;
  left:50%;
  width:100px;
  height:100px;
  background-color:gold;
  border-radius:50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}
.sunorbit{
  width: 700px;
  height: 700px;
  background-color:rgba(255, 255, 255, 0.0);
  border-radius: 100%;
  border:1px dotted rgba(255, 255, 255, 0.6)
}
.earth{
  background:red;
  
}
.earthwithorbit{
  position:absolute;
  width: 100px;
  height: 100px;             
}

.mercury{
  height: 10px;
  width:10px;
  background:white;
  position:absolute;
  border-radius:50%;
  left: 46%;
  top:46%;
  opacity: .4;
  transform: translate(-50%,-50%);
  animation: orbit-mer 4s linear infinite;
}

/* @keyframes orbit-mer{
  from{
    transform:rotate(0deg)translateX(70px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(70px) rotate(-360deg);
  }
} */

.mercury-outline, .venus-outline, .earth-outline, .mars-outline, .jupiter-outline, .saturn-outline{
    border-radius:50%;
    border:1px dotted rgba(122, 122, 122, 0.6);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.mercury-outline{
  height: 140px;
  width: 140px;
}

.venus{
  height: 20px;
  width:20px;
  background:white;
  position:absolute;
  border-radius:50%;
  left: 45%;
  top:45%;
  opacity: .4;
  transform: translate(-50%,-50%);
  animation: orbit-v 6s linear infinite;
  animation-direction: reverse;
}
/* @keyframes orbit-v{
  from{
    transform:rotate(0deg)translateX(100px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(100px) rotate(-360deg);
  }
} */

.venus-outline{
  height: 200px;
  width: 200px;
}
.earth-outline{
  height: 600px;
  width: 600px;
}
.earth{
  height: 20px;
  width: 20px;
  background:white;
  position:absolute;
  border-radius:50%;
  left: 48%;
  top: 48%;
  opacity: .5;
  transform: translate(-50%,-50%);
  animation: orbit-e 15s linear infinite;
  z-index: -1;
  /* animation-direction: reverse; */
}
/* @keyframes orbit-e{
  from{
    transform:rotate(0deg)translateX(300px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(300px) rotate(-360deg);
  }
} */



.earth-circle{
  height: 66px;
  width: 66px;
  border:1px dotted rgba(177, 177, 177, 0.6); 
  position: relative; 
  left: -22px; 
  top:-22px; 
  border-radius:40px;
  z-index: -1;
}

.earth-inner{
  height: 8px;
  width: 8px;
  background:white;
  border-radius:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;       
  animation:orbit-em 3s linear infinite;
}

/* @keyframes orbit-em{
  from{
    transform:rotate(0deg)translateX(33px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(33px) rotate(-360deg);
  }
} */

 /* MARS ORBIT CSS STARTS*/

 .mars-outline{
  height: 900px;
  width: 900px;
}
.mars{
  height: 50px;
  width: 50px;
  background:white;
  position:absolute;
  border-radius:50%;
  left: 47%;
  top: 47%;
  opacity: .5;
  transform: translate(-50%,-50%);
  animation: orbit-m 20s linear infinite;
  z-index: -1;
  animation-direction: reverse;
}
/* @keyframes orbit-m{
  from{
    transform:rotate(0deg)translateX(450px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(450px) rotate(-360deg);
  }
} */



.mars-circle{
  height: 100px;
  width: 100px;
  border:1px dotted rgba(177, 177, 177, 0.6); 
  position: relative; 
  left: -26px; 
  top:-26px; 
  border-radius:50%;
  z-index: -1;
}

.mars-inner{
  height: 8px;
  width: 8px;
  background:white;
  border-radius:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;       
  animation:orbit-mm 6s linear infinite;
}

@keyframes orbit-mm{
  from{
    transform:rotate(0deg)translateX(49px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(49px) rotate(-360deg);
  }
}

/* MARS ORBIT CSS ENDS*/

/* JUPITER ORBIT CSS STARTS*/

.jupiter-outline{
  height: 1400px;
  width: 1400px;
}
.jupiter{
  height: 60px;
  width: 60px;
  background:white;
  position:absolute;
  border-radius:50%;
  left: 48%;
  top: 48%;
  opacity: .5;
  transform: translate(-50%,-50%);
  animation: orbit-jup 30s linear infinite;
  z-index: -1;
  /* animation-direction: reverse; */
}
/* @keyframes orbit-jup{
  from{
    transform:rotate(0deg)translateX(700px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(700px) rotate(-360deg);
  }
} */



.jupiter-circle{
  height: 200px;
  width: 200px;
  border:1px dotted rgba(177, 177, 177, 0.6); 
  position: relative; 
  left: -72px; 
  top:-72px; 
  border-radius:50%;
  z-index: -1;
}

.jupiter-inner{
  height: 8px;
  width: 8px;
  background:white;
  border-radius:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;       
  animation:orbit-jup-m1 6s linear infinite;
}

/* @keyframes orbit-jup-m1{
  from{
    transform:rotate(0deg)translateX(100px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(100px) rotate(-360deg);
  }
} */


.jupiter-circle2{
  height: 150px;
  width: 150px;
  border:1px dotted rgba(177, 177, 177, 0.6); 
  position: relative; 
  left: 23px; 
  top:23px; 
  border-radius:50%;
  z-index: -1;
}

.jupiter-inner2{
  height: 8px;
  width: 8px;
  background:white;
  border-radius:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;       
  animation:orbit-jup-m2 3s linear infinite;
  animation-direction:reverse;
}

@keyframes orbit-jup-m2{
  from{
    transform:rotate(0deg)translateX(75px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(75px) rotate(-360deg);
  }
}
/* JUPITER ORBIT CSS ENDS*/


 /* SATURN ORBIT CSS STARTS*/

 .saturn-outline{
  height: 1800px;
  width: 1800px;
}
.saturn{
  height: 48px;
  width: 48px;
  background:white;
  position:absolute;
  border-radius:50%;
  left: 49%;
  top: 49%;
  opacity: .5;
  transform: translate(-50%,-50%);
  animation: orbit-sat 44s linear infinite;
  z-index: -1;
  animation-direction: reverse;
}
/* @keyframes orbit-sat{
  from{
    transform:rotate(0deg)translateX(900px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(900px) rotate(-360deg);
  }
} */



.saturn-circle{
  height: 200px;
  width: 200px;
  border:1px dotted rgba(177, 177, 177, 0.6); 
  position: relative; 
  left: -81px; 
  top:-81px; 
  border-radius:50%;
  z-index: -1;
}

.saturn-inner{
  height: 8px;
  width: 8px;
  background:white;
  border-radius:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;       
  animation:orbit-sat-m1 4s linear infinite;
}

/* @keyframes orbit-sat-m1{
  from{
    transform:rotate(0deg)translateX(100px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(100px) rotate(-360deg);
  }
} */


.saturn-circle2{
  height: 130px;
  width: 130px;
  border:1px dotted rgba(177, 177, 177, 0.6); 
  position: relative; 
  left: 37px; 
  top:37px; 
  border-radius:50%;
  z-index: -1;
}

.saturn-inner2{
  height: 8px;
  width: 8px;
  background:white;
  border-radius:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;       
  animation:orbit-sat-m2 6s linear infinite;
  animation-direction:reverse;
}

/* @keyframes orbit-sat-m2{
  from{
    transform:rotate(0deg)translateX(65px) rotate(0deg);
  }
  to{
    transform:rotate(360deg)translateX(65px) rotate(-360deg);
  }
} */
/* SATURN ORBIT CSS ENDS*/




/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
